body {
  background-color: #333;
}

.box {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: white;
  animation-name: boxMover;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 1s; /* can be "infinite" */
  /* animation-direction: alternate-reverse; */
  animation-timing-function: ease-in;

  /* Cancel the animation reset cof the */
  animation-fill-mode: forwards; /* allows the last state of the animation to persist. i.e change color to aquamarine */
}

@keyframes boxMover {
  0% {
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 0 0 0 0;
  }
  25% {
    background-color: red;
    left: 300px;
    top: 0;
    border-radius: 50% 0 0 0;
  }
  50% {
    background-color: green;
    left: 300px;
    top: 300px;
    border-radius: 50% 0 50% 0;
  }
  75% {
    background-color: blue;
    left: 0px;
    top: 300px;
    border-radius: 50% 50%;
  }
  100% {
    background-color: white;
    left: 0;
    top: 0;
    background-color: aquamarine;
  }
}
